{% extends 'layout.html.twig' %}

{% block title %}GRECO{% endblock %}

{% block content %}
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card cardLogin" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">

                        <img src="{{ asset('images/logo_greco.ico') }}" class="logoLogin"/>
                        <h3 class="mb-3">Inicia sesión</h3>

                        <form method="post" class="form">
                            {% if error %}
                                <p class="errorTexto">Credenciales incorrectas.</p>
                                <div class="form-outline mb-4">
                                    <input type="text" class="form-control error" value="{{ ultimo_usuario }}" name="_username" required autofocus id="usuario"/>
                                    <label class="form-label fw-bold" for="usuario">Usuario</label>
                                </div>

                                <div class="orm-outline mb-4 position-relative">
                                    <input type="password" class="form-control error" name="_password" required id="clave" />
                                    <label class="form-label fw-bold" for="clave">Contraseña</label>
                                    <span toggle="#clave" class="eye-icon toggle-password position-absolute">
                                        <i class="far fa-eye"></i>
                                    </span>
                                </div>
                            {% else %}
                                <div class="form-outline mb-4">
                                    <input type="text" class="form-control" value="{{ ultimo_usuario }}" name="_username" required autofocus id="usuario"/>
                                    <label class="form-label fw-bold" for="usuario">Usuario</label>
                                </div>

                                <div class="form-outline mb-4 position-relative">
                                    <input type="password" class="form-control" name="_password" required id="clave" />
                                    <label class="form-label fw-bold" for="clave">Contraseña</label>
                                    <span toggle="#clave" class="eye-icon toggle-password position-absolute">
                                        <i class="far fa-eye"></i>
                                    </span>
                                </div>
                            {% endif %}

                            <button class="btn btn-success btn-lg btn-block" type="submit">Acceder</button>

                            <p class="fst-italic mt-4 mb-1">@ 2023 IES Oretania</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}