{% extends 'layout.html.twig' %}

{% block title %}GRECO - Localización{% endblock %}

{% block content %}
    <h2 class="titulo">Listado de las localizaciones</h2>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>¿Es padre?</th>
        </tr>
        </thead>
        <tbody>
        {% for localizacion in localizaciones %}
            <tr>
                <td>{{ localizacion.codigo }}</td>
                <td>{{ localizacion.nombre }}</td>
                <td>{{ localizacion.descripcion is null ? ' --- ' : localizacion.descripcion }}</td>
                <td>{{ localizacion.localizacionPadre ? 'Sí' : 'No' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">NO hay datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}