@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

/**body {
    background-color: transparent !important;
    background-image: var(--background-image) !important;
    background-size: cover;
    background-position: center;
}**/

a {
    text-decoration: none !important;
}

.titulo {
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
}

.custom-navbar {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: #3f815c;
    padding: 1em !important;
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

.container-fluid .navbar-toggler {
    border: none;

    .fa-bars {
        color: white;
    }
}

.logo {
    width: 150px;
    height: 60px;
}

.card {
    :hover {
        box-shadow: 2px 5px 13px 0px rgba(62,62,62,0.62);
    }
}

.container .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em !important;

    .current {
        background-color: #f0ecec;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }

    .page a, .next a, .last a, .first a, .previous a {
        color: black;
        padding: 0.2em 0.7em 0.2em 0.7em;
    }
}

.table tbody td:last-child button {
    padding-bottom: 0.350rem;
    padding-top: 0.350rem;
    padding-left: 0.450rem;
    padding-right: 0.450rem;

    .fa-solid {
        font-size: 15px;
    }
}

.fa-solid {
    font-size: 30px;
}

.table>:not(caption)>*>* {
    background: transparent !important;
}

.barraArriba {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leyendaD:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 10px;
    background-color: rgba(255, 100, 100, 0.6);
    margin-right: 5px;
}

.no-disponible {
    background-color: rgba(255, 100, 100, 0.6) !important;
}