{% extends 'layout.html.twig' %}

{% block title %}GRECO - Historial{% endblock %}

{% block content %}
    <div class="barraArriba">
        <h3 class="titulo">Eliminar Historial</h3>
    </div>

    <div class="alert alert-warning">
        ¿Está segur@ de que deseas eliminar el historial {{ historial.id }}?
    </div>

    <form method="post">
        <a href="{{ path('historial_modificar', {'id': localizacion.id}) }}" class="btn btn-info"><i class="fa-solid fa-arrow-left"></i> Volver</a>
        <button type="submit" name="confirmar" value="ok" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Confirmar eliminación</button>
    </form>
{% endblock %}