{% extends 'layout.html.twig' %}

{% block title %}GRECO - Historial{% endblock %}

{% block content %}
    <div class="barraArriba">
        {% if historial.id %}
            <h3 class="titulo">Modificar Historial</h3>
        {% else %}
            <h3 class="titulo">Nuevo Historial</h3>
        {% endif %}
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <a href="{{ path('historial_listar') }}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i>Volver</a>
    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Guardar</button>

    {{ form_end(form) }}
{% endblock %}